# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite específico
*.log
*.sqlite

# Secretos y variables de entorno (¡MUY IMPORTANTE!)
.env
.env.local
.env.*.local

# Dependencias de paquetes (archivos de bloqueo que pueden variar por PC)
# Aunque algunos los suben, si trabajas en máquinas muy distintas
# a veces es mejor ignorar los logs de npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos temporales de sistema
Thumbs.db

# Skills Antigravity
.agents/
skills-lock.json